  html { height: 100%; }
  body { margin: 0; height: 100%; position: relative; }
  /* Height / width / positioning can be customized for your use case.
  For demo purposes, we make firepad fill the entire browser. */
  #firepad-container {
    height: 100%;
    width: 82%;
    float: right;
  }

/* Begin code written by our group */
  .image {
    float: left;
    display: inline-block;
  }

  #fileButton {
    float:right;
  }

  #userlist {
    position: absolute; left: 25px; top: 225px; bottom: 0; height: auto;
    width: 175px;
  }

  .newPad {
    position:absolute; right: 20px; top: 77px;
  }

  #newPadButton {
    background-color: #8B6F4B;
    border-radius: 7px;
    padding: 5px;
    color: black;
    z-index: 10;
  }