.image {
    float: left;
    display: inline-block;
  }

  .flexing {
    display: flex;
    flex-wrap: row wrap;
    flex-direction: column;
  }

  .flex1 {
    flex: 2 200px;
  }

  .flex2 {
    flex: 1 100px;
  }

  .flex3 {
    flex: 2 200px;
  }

  .flex4 {
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }